# Aliases
alias fuckwebp="mogrify -format png -quality 80 *.webp && rm *.webp"
alias cargo="cargo mommy "
alias xc3refresh="xc3sprog -c ftdi"
alias xc3fastflash="xc3sprog -c ftdi && xc3sprog -c ftdi -L -v -p 0 "
alias xc3permflash="xc3sprog -c ftdi && xc3sprog -c ftdi -L $HOME/Programming/KMITL-DigitalSystemsFundamentals/spiflasherLX9.bit && xc3sprog -c ftdi -L -v -R -p 0 -I "
alias upgrade="sudo sh -c 'paru -Sc && pacman -Sy && powerpill -Su' && paru -Sua"
alias update="sudo pacman -Sy"
alias listoptdeps="expac -S '%o' "
alias mirror-refresh="sudo sh ~/dotfiles/mirror-refresh.sh"
alias aria2cx16="aria2c -s 16 -j 16 -x 16 "
alias wifi-reboot="sudo sh -c 'rmmod iwlmvm && rmmod iwlwifi && modprobe iwlmvm && modprobe iwlwifi'"
alias yt-dlp-wd="yt-dlp --config-location ~/.config/yt-dlp/config-wd "
alias yt-dlp-playlist="yt-dlp --cookies-from-browser=firefox --config-location ~/.config/yt-dlp/config-playlist "
alias yt-dlp-c="yt-dlp --cookies-from-browser=firefox "
alias mpv-c="mpv --ytdl-raw-options='cookies-from-browser=firefox' "
alias compose-update="sudo sh -c 'docker compose down && docker compose pull && docker compose up -d && docker compose logs -f'"
